@import './components/base';
body{
    background-color:$bg-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:"body";
    font-size:$font-normal;
}
h1{
    margin:0;
}


@import './components/header';
@import './components/footer';
@import './components/mainIndex';
@import './components/loginform';
@import './components/headerAdmin';
@import './components/adminIndex';
@import './components/userRegister';