@import './components/base';
body{
    background-color:$bg-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:"body";
    font-size:$font-normal;
}


@import './components/header';
@import './components/footer';
@import './components/adminIndex';
@import './components/loginform';
