@import './components/base';
body{
    background-color:$bg-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a:hover{
    color:$color-white;
}

@import './components/header';
@import './components/footer';
@import './components/adminIndex';
