{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<<<<<<< HEAD
<div id="adminIndex"></div>

=======

<div id="mainIndex"></div>
>>>>>>> 861c9b4d7faef4ea6e67fac02a9d843a3f88d671

{% endblock %}
