@font-face {
  font-family: "title";
  src: url("/font/Caveat-Bold.ttf");
}
@font-face {
  font-family: "body";
  src: url("/font/Montserrat-Regular.ttf");
}
body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "body";
  font-size: 0.9rem;
  min-width: 375px;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

@media (max-width: 768px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media (max-width: 576px) {
  h4 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .form-group {
    margin-bottom: 0.5rem;
  }
}

.no-link {
  cursor: default !important;
}

.btn {
  background-color: white !important;
  border: 1px solid #b8a49a !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  color: #8a746a;
}
.btn:focus {
  color: #8a746a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b8a49a !important;
}
.btn::before, .btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #b8a49a !important;
  /* color de fondo hover */
  transition: all 0.2s ease-out;
}

.btn:hover {
  color: white;
}

.btn:hover::after {
  left: 50%;
}

.btn:hover::before {
  left: 0;
}

header {
  display: flex;
}
header .navbar {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  padding: 1rem 2rem;
}
@media (max-width: 768px) {
  header .navbar {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 576px) {
  header .navbar {
    padding: 1.5rem 1rem;
  }
}
header .navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/menu.svg);
}
header .navbar .navbar-nav {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 auto;
}
header .navbar .navbar-nav .nav-link {
  color: #FFF;
  text-align: end;
  font-weight: bold;
  cursor: pointer;
}
header h1 {
  font-family: "title", cursive;
  font-size: 3rem;
  color: #FFF;
  text-shadow: 4px 3px 2px #000;
  letter-spacing: 8px;
}
@media (max-width: 992px) {
  header h1 {
    font-size: 2.25rem;
    letter-spacing: 6px;
  }
}
@media (max-width: 768px) {
  header h1 {
    font-size: 1.75rem;
    letter-spacing: 4px;
  }
}
@media (max-width: 576px) {
  header h1 {
    font-size: 1.5rem;
    width: 70%;
    text-shadow: 3px 3px 2px #000;
  }
}
header #logo {
  width: 6rem;
  border-radius: 5px;
}
@media (max-width: 992px) {
  header #logo {
    width: 5rem;
  }
}
@media (max-width: 768px) {
  header #logo {
    width: 4rem;
  }
}
@media (max-width: 576px) {
  header #logo {
    display: none;
  }
}

footer {
  display: flex;
  flex: 0 0 auto;
  color: #FFF;
  padding: 1.75rem 0;
  background-color: #a10a0a !important;
}
@media (max-width: 576px) {
  footer {
    font-size: 0.8rem;
  }
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer section {
    justify-content: space-around;
  }
}
@media (max-width: 576px) {
  footer section {
    display: block;
  }
}
footer .copyright {
  padding: 10px;
}
footer #footer1 {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer #footer1 .footer1 {
  display: inline-block;
  margin: 0 10px;
  font-size: 90%;
}
footer #footer2 {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer #footer2 .footer2 {
  margin: 0 1.5rem;
  border-bottom: 1px solid;
  border-color: #FFF;
  line-height: 36px;
}
footer img {
  width: 2rem;
}
footer #fonoimg {
  width: 1.5rem;
}
footer a {
  color: #FFF;
}
footer a:hover {
  color: #FFF;
  text-decoration: none;
}
footer .contacto {
  text-align: center;
  width: 48%;
}
@media (max-width: 768px) {
  footer .contacto {
    width: 55%;
  }
}
@media (max-width: 576px) {
  footer .contacto {
    width: 100%;
  }
}
@media (max-width: 768px) {
  footer .contacto:nth-child(2) {
    width: 40%;
  }
}
@media (max-width: 576px) {
  footer .contacto:nth-child(2) {
    width: 50%;
    margin: 0.25rem auto 0;
  }
}

#adminIndex {
  display: flex;
  flex: 1 0 auto;
  padding: 2.5rem 3.75rem 4rem;
}
@media (max-width: 992px) {
  #adminIndex {
    padding: 2rem 2.25rem 2.5rem;
  }
}
@media (max-width: 768px) {
  #adminIndex {
    padding: 1.5rem 2rem 2.5rem;
  }
}
#adminIndex nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#adminIndex nav .enlacesAdmin {
  width: 70%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 992px) {
  #adminIndex nav .enlacesAdmin {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  #adminIndex nav .enlacesAdmin {
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
  }
}
@media (max-width: 576px) {
  #adminIndex nav .enlacesAdmin {
    width: 90%;
  }
}
#adminIndex nav .enlacesAdmin a {
  display: flex;
  border: 2px solid #b8a49a;
  width: 11rem;
  height: 13rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #8a746a;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 992px) {
  #adminIndex nav .enlacesAdmin a {
    width: 9rem;
    height: 11rem;
  }
}
@media (max-width: 768px) {
  #adminIndex nav .enlacesAdmin a {
    width: 8rem;
    height: 10rem;
  }
}
#adminIndex nav .enlacesAdmin a::after {
  content: "";
  background-color: #b8a49a;
  position: absolute;
  z-index: -1;
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
  transition: all 0.2s ease-out;
}
#adminIndex nav .enlacesAdmin a:hover {
  transform: translateY(-20px);
  transition: transform 0.25s ease;
  color: #FFF;
}
#adminIndex nav .enlacesAdmin a:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.2s ease-out;
}
#adminIndex nav .enlacesAdmin a li {
  list-style: none;
  text-align: center;
}

.mainIndex {
  display: flex;
  flex: 1 0 auto;
  padding: 2.5rem 3.75rem 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .mainIndex {
    padding: 2rem 2.25rem 2.5rem;
  }
}
@media (max-width: 768px) {
  .mainIndex {
    padding: 1.5rem 2rem 2.5rem;
  }
}
@media (max-width: 768px) {
  .mainIndex {
    display: block;
  }
}
.mainIndex form {
  width: 20%;
  margin: 0 3rem 0 0;
}
@media (max-width: 992px) {
  .mainIndex form {
    width: 22%;
    margin: 0 2rem 0 0;
  }
}
@media (max-width: 768px) {
  .mainIndex form {
    width: 60%;
    margin: 0 auto 2rem;
  }
}
@media (max-width: 576px) {
  .mainIndex form {
    width: 90%;
  }
}
.mainIndex .librosYbuscador {
  width: inherit;
}
@media (max-width: 768px) {
  .mainIndex .librosYbuscador {
    margin: 0 auto;
  }
}
.mainIndex .librosYbuscador a {
  color: #000;
  text-decoration: none;
}
.mainIndex .librosYbuscador .formBuscador {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 2rem;
}
@media (max-width: 992px) {
  .mainIndex .librosYbuscador .formBuscador {
    width: 100%;
  }
}
.mainIndex .librosYbuscador .formBuscador #inputBuscador {
  width: 20rem;
}
@media (max-width: 992px) {
  .mainIndex .librosYbuscador .formBuscador #inputBuscador {
    width: 15rem;
  }
}
@media (max-width: 576px) {
  .mainIndex .librosYbuscador .formBuscador #inputBuscador {
    width: 11rem;
  }
}
.mainIndex .librosYbuscador .formBuscador #btnBuscar {
  padding: 0.3rem;
}
.mainIndex .librosYbuscador .librosConLoguin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem 1rem;
}
@media (min-width: 1500px) {
  .mainIndex .librosYbuscador .librosConLoguin {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .mainIndex .librosYbuscador .librosConLoguin {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 0.75rem;
  }
}
@media (max-width: 576px) {
  .mainIndex .librosYbuscador .librosConLoguin {
    grid-template-columns: 1fr;
    grid-gap: 0.75rem;
  }
}
.mainIndex .librosYbuscador .librosConLoguin .libroConLoguin {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #b8a49a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .mainIndex .librosYbuscador .librosConLoguin .libroConLoguin {
    padding: 0.5rem 0.75rem;
  }
}
.mainIndex .librosYbuscador .librosConLoguin .libroConLoguin:hover {
  transform: scale(1.1);
  transition: 0.1s ease-out;
}
.mainIndex .librosYbuscador .librosSinLogin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainIndex .librosYbuscador .librosSinLogin .libroSinLoguin {
  width: 15rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #b8a49a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .mainIndex .librosYbuscador .librosSinLogin .libroSinLoguin {
    padding: 0.5rem 0.75rem;
  }
}
.mainIndex .librosYbuscador .librosSinLogin .libroSinLoguin:hover {
  transform: scale(1.1);
  transition: 0.1s ease-out;
}

#libroIndv {
  display: flex;
  flex: 1 0 auto;
  padding: 2.5rem 3.75rem 4rem;
  flex-direction: column;
  margin: 2rem 0 0;
}
@media (max-width: 992px) {
  #libroIndv {
    padding: 2rem 2.25rem 2.5rem;
  }
}
@media (max-width: 768px) {
  #libroIndv {
    padding: 1.5rem 2rem 2.5rem;
  }
}
@media (max-width: 576px) {
  #libroIndv {
    padding: 1.5rem 1rem 2.5rem;
  }
}
#libroIndv .datosLibro {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #libroIndv .datosLibro {
    width: 90%;
  }
}
#libroIndv .datosLibro .img {
  padding: 2rem;
  box-shadow: 0 0 5px #000;
}
@media (max-width: 576px) {
  #libroIndv .datosLibro .img {
    padding: 1rem;
  }
}
#libroIndv .datosLibro .img img {
  width: 15rem;
}
@media (max-width: 992px) {
  #libroIndv .datosLibro .img img {
    width: 10rem;
  }
}
@media (max-width: 768px) {
  #libroIndv .datosLibro .img img {
    width: 6rem;
  }
}
@media (max-width: 576px) {
  #libroIndv .datosLibro .img img {
    width: 4rem;
  }
}
#libroIndv .datosLibro .tituloLibro {
  width: 58%;
}
@media (max-width: 576px) {
  #libroIndv .datosLibro .tituloLibro {
    width: 60%;
  }
}
#libroIndv button {
  width: 6rem;
}

form {
  text-align: center;
}
@media (max-width: 576px) {
  form h3 {
    font-size: 1.5rem;
  }
}
form .form-control > input {
  margin: 30px;
}
form .form-control:focus, form .form-control:active {
  background-color: #FFF;
  border-color: #b8a49a !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b8a49a !important;
}
form label {
  font-size: large;
}
@media (max-width: 576px) {
  form label {
    font-size: inherit;
  }
}
form .btn {
  margin-top: 10px;
}

#headerAdmin {
  display: flex;
}
#headerAdmin .navbar {
  background-image: none;
  background-size: none;
  background-position: none;
  background-color: #a10a0a;
  padding: 0.5rem 2rem;
}
#headerAdmin #logo {
  width: 4.5rem;
}
#headerAdmin h1 {
  font-family: "title", cursive;
  font-size: 1.8rem;
  color: #FFF;
}
@media (max-width: 768px) {
  #headerAdmin h1 {
    font-size: 1.6rem;
  }
}

#userRegister {
  display: flex;
  flex: 1 0 auto;
  padding: 2.5rem 3.75rem 4rem;
  margin: 0;
  flex-wrap: nowrap;
  text-align: center;
}
@media (max-width: 992px) {
  #userRegister {
    padding: 2rem 2.25rem 2.5rem;
  }
}
@media (max-width: 768px) {
  #userRegister {
    padding: 1.5rem 2rem 2.5rem;
  }
}
#userRegister h2 {
  margin: 1rem 1rem 2.5rem;
}
@media (max-width: 768px) {
  #userRegister h2 {
    margin: 1rem 0 0;
  }
}
#userRegister .oneUser {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  border-right: 2px solid #000;
}
#userRegister .moreUsers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  #userRegister .moreUsers {
    margin-left: -1.25rem;
  }
}
#userRegister .moreUsers input {
  margin-left: 3rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  color: #8a746a;
}
@media (max-width: 992px) {
  #userRegister .moreUsers input {
    margin-left: 2rem;
  }
}
@media (max-width: 768px) {
  #userRegister .moreUsers input {
    margin-left: -0.5rem;
  }
}
#userRegister .moreUsers input:focus {
  color: #8a746a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b8a49a !important;
}
#userRegister .moreUsers input::before, #userRegister .moreUsers input::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #b8a49a !important;
  /* color de fondo hover */
  transition: all 0.2s ease-out;
}
#userRegister .moreUsers .btn:hover {
  color: white;
}
#userRegister .moreUsers .btn:hover::after {
  left: 50%;
}
#userRegister .moreUsers .btn:hover::before {
  left: 0;
}
#userRegister form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#userRegister form #user {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1000px;
  border: 1px solid #000;
  padding: 2rem;
  box-shadow: 0 0 5px #000;
}
#userRegister form #user div {
  display: contents;
}
#userRegister form #user div label {
  font-weight: bold;
}
#userRegister form button {
  margin: 2.5rem 0;
}
@media (max-width: 768px) {
  #userRegister form button {
    margin: 2.5rem 0 2.25rem;
  }
}
#userRegister a {
  color: #8a746a;
  text-decoration: none;
  align-self: flex-end;
}
@media (max-width: 768px) {
  #userRegister {
    display: flex;
    flex-direction: column;
  }
  #userRegister .oneUser {
    border-right: none;
    border-bottom: 1px solid #000;
  }
  #userRegister form {
    margin: 2rem 0 1rem;
  }
}

#listaLibros, #userList, .show1, #edit, #commentList {
  display: flex;
  flex: 1 0 auto;
  padding: 2.5rem 3.75rem 4rem;
  flex-direction: column;
  overflow: scroll;
  text-align: center;
}
@media (max-width: 992px) {
  #listaLibros, #userList, .show1, #edit, #commentList {
    padding: 2rem 2.25rem 2.5rem;
  }
}
@media (max-width: 768px) {
  #listaLibros, #userList, .show1, #edit, #commentList {
    padding: 1.5rem 2rem 2.5rem;
  }
}
#listaLibros h1, #userList h1, .show1 h1, #edit h1, #commentList h1 {
  margin: 1rem 1rem 2.5rem;
}
#listaLibros #form, #userList #form, .show1 #form, #edit #form, #commentList #form {
  margin: 0 auto;
  border: 1px solid #000;
  width: fit-content;
  box-shadow: 0 0 5px #000;
}
#listaLibros #form form, #userList #form form, .show1 #form form, #edit #form form, #commentList #form form {
  margin: 1rem;
}
#listaLibros #form form #user, #userList #form form #user, .show1 #form form #user, #edit #form form #user, #commentList #form form #user {
  display: flex;
  flex-direction: column;
}
#listaLibros div, #userList div, .show1 div, #edit div, #commentList div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#listaLibros button, #userList button, .show1 button, #edit button, #commentList button {
  width: 5rem;
  margin-top: 10px;
  background-color: white !important;
  border: 1px solid #b8a49a !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  color: #8a746a;
}
#listaLibros button a, #userList button a, .show1 button a, #edit button a, #commentList button a {
  color: black;
}
#listaLibros button a:hover, #userList button a:hover, .show1 button a:hover, #edit button a:hover, #commentList button a:hover {
  color: #FFF;
  text-decoration: none;
  transition: 0.2s ease-out;
}
#listaLibros button:focus, #userList button:focus, .show1 button:focus, #edit button:focus, #commentList button:focus {
  color: #8a746a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b8a49a !important;
}
#listaLibros button::before, #listaLibros button::after, #userList button::before, #userList button::after, .show1 button::before, .show1 button::after, #edit button::before, #edit button::after, #commentList button::before, #commentList button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #b8a49a !important;
  /* color de fondo hover */
  transition: all 0.2s ease-out;
}
#listaLibros button:hover, #userList button:hover, .show1 button:hover, #edit button:hover, #commentList button:hover {
  color: white;
}
#listaLibros button:hover::after, #userList button:hover::after, .show1 button:hover::after, #edit button:hover::after, #commentList button:hover::after {
  left: 50%;
}
#listaLibros button:hover::before, #userList button:hover::before, .show1 button:hover::before, #edit button:hover::before, #commentList button:hover::before {
  left: 0;
}
#listaLibros table tr td a, #userList table tr td a, .show1 table tr td a, #edit table tr td a, #commentList table tr td a {
  color: black;
}
#listaLibros table tr td a:hover, #userList table tr td a:hover, .show1 table tr td a:hover, #edit table tr td a:hover, #commentList table tr td a:hover {
  text-decoration: none;
  color: #8a746a;
  transition: 0.2s ease-out;
}
#listaLibros table tr:nth-child(even), #userList table tr:nth-child(even), .show1 table tr:nth-child(even), #edit table tr:nth-child(even), #commentList table tr:nth-child(even) {
  background: #b8a49a;
}
#listaLibros table tr:nth-child(even) a:hover, #userList table tr:nth-child(even) a:hover, .show1 table tr:nth-child(even) a:hover, #edit table tr:nth-child(even) a:hover, #commentList table tr:nth-child(even) a:hover {
  color: #FFF;
}

#nuevoLibro {
  display: flex;
  flex: 1 0 auto;
  padding: 2.5rem 3.75rem 4rem;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  #nuevoLibro {
    padding: 2rem 2.25rem 2.5rem;
  }
}
@media (max-width: 768px) {
  #nuevoLibro {
    padding: 1.5rem 2rem 2.5rem;
  }
}
#nuevoLibro h2 {
  margin: 1rem 1rem 2.5rem;
}
@media (max-width: 768px) {
  #nuevoLibro h2 {
    margin: 1rem 0 2.5rem;
  }
}
#nuevoLibro .formLibro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  padding: 2rem;
  box-shadow: 0 0 5px #000;
}
@media (max-width: 576px) {
  #nuevoLibro .formLibro {
    padding: 2rem 0;
  }
}
#nuevoLibro .formLibro label {
  width: 100%;
  margin: 0 0 1rem;
}
#nuevoLibro .formLibro button {
  margin: 2.5rem 0 0;
}
#nuevoLibro .formLibro a {
  color: #8a746a;
  text-decoration: none;
  align-self: flex-end;
}

/*# sourceMappingURL=style.css.map */
