{% extends 'base.html.twig' %}

{% block title %}Panel de admin{% endblock %}

{% block body %}

{{ include('./admin/header.html.twig')}}
<section id ="adminIndex">
    <a href="/libro/new">Crear libro</a>
    <a href="/user/new">Dar de alta usuarios</a>
    <a href="/libro/bookList/books">Lista de libros</a>
    <a href="/user/usersList/users">Lista de usuarios</a>

</section>
{{ include('./admin/footer.html.twig')}}
{% endblock %}
