{% extends 'base.html.twig' %}

{% block title %}Panel de admin{% endblock %}

{% block body %}

{{ include('./admin/header.html.twig')}}

<section id ="adminIndex">
    <nav>
        <ul class="enlacesAdmin">
            <a href="/libro/new"><li>Crear libro</li></a>
            <a href="/user/new"><li>Dar de alta usuarios</li></a>
            <a href="/libro/bookList/books"><li>Lista de libros</li></a>
            <a href="/user/usersList/users"><li>Lista de usuarios</li></a>
        </ul>
    </nav>
</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
