{% extends 'base.html.twig' %}

{% block title %}Nuevo libro{% endblock %}

{% block body %}
    <h1>Crear nuevo libro</h1>

    {{ include('libro/_form.html.twig') }}

    <h1>Subir varios libros</h1>

    {{ include('libro/multiple_form.html.twig') }}

    <a href="{{ path('admin') }}">Volver a admin</a>
{% endblock %}
