{% extends 'base.html.twig' %}

{% block title %}Nuevo Curso{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}

<section class="nuevo">
    <h2>Crear nuevo curso</h2>

        <section class="form">
            {{ include('curso/_form.html.twig') }}
            <a href="{{ path('admin') }}">Volver ↩</a>
        </section>

</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
