{% extends 'base.html.twig' %}

{% block title %}Crear usuarios{% endblock %}

{% block body %}
<section class="userRegister">
    <h1>Dar de alta un usuario</h1>

    {{ include('user/_form.html.twig') }}

    <h1>Dar de alta usuarios con archivo CSV</h1>

    {{ include('user/users_form.html.twig') }}

    <a href="{{ path('admin') }}">Volver a admin</a>
</section>
{% endblock %}
