<footer>
    <div class="container">
        <div class="row">
            <div class = "col-sm-6 col-md-6">
                <div class = "sp-column">
                    Copyright © 2022 ieshlanz. Todos los derechos reservados.
                </div>
                <ul class="sp-contact-info">
                    <li class="sp-contact-phone">
                        <a href="tel:958893230"><i><img src="/img/email.png"</i>958893230</a>
                    </li>
                    <li class="sp-contact-email">
                        <i> </i>
                        <a href="mailto:18004288.edu@juntadeandalucia.es"><i><img src="/img/telofono.png"</i>18004288.edu@juntadeandalucia.es</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>