<footer>
    <div class="container-fluid container-md">
                <div>
                    Copyright © 2022 ieshlanz. Todos los derechos reservados.
                </div>
                <ul>
                    <li>
                        <a href="tel:958893230"><img src="/img/email.png">958893230</a>
                    </li>
                    <li >
                        <a href="mailto:18004288.edu@juntadeandalucia.es"><img src="/img/telofono.png">18004288.edu@juntadeandalucia.es</a>
                    </li>
                </ul>
    </div>
</footer>