<footer>
<section class="container-fluid container-md">
    <div class = "contacto">
                <div class="copyright">
                    Copyright © 2022 ieshlanz. Todos los derechos reservados.
                </div>
                <ul id = "footer1">
                    <li class = "footer1">
                        <a href="tel:958893230"><img id ="fonoimg" src="/img/telefono.png">958893230</a>
                    </li>
                    <li class="footer1">
                        <a href="mailto:18004288.edu@juntadeandalucia.es"><img src="/img/email.png">18004288.edu@juntadeandalucia.es</a>
                    </li>
                </ul>
    </div>
    <div class ="contacto">
        <ul id="footer2">
        <li class="footer2">
            <a href="/index.php/mapa-del-sitio" target="_blank"> Mapa del sitio</a>
        </li>
        <li class = "footer2"> 
            <a href="/index.php/contacto"> Contacto</a>
        </li>
        </ul>
    </div>
    </section>
</footer>