{% extends 'base.html.twig' %}

{% block title %}Edit Curso{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}

<section class = "edit">
    <h2>Editar Curso</h2>

    <section class="form">
        {{ include('curso/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <a href="{{ path('curso_list') }}">Volver ↩</a>
    </section>

</section>    

{{ include('./admin/footer.html.twig')}}
{% endblock %}
