.adminIndex{
    @include mainSection;
    flex-direction: column;
    padding:1rem 3rem 2rem;

    & .nav{

        & .nav-item{
            border-right:2px solid $color-primary;

            & .nav-link{
                padding: 0rem 1rem;
            }
        }
    }

    & .mainContent{
        margin:2rem 0 0;
    }
    & form {
        width: 15%;
    }
}