.adminIndex{
    @include mainSection;
    padding:1rem 3rem 2rem;

    & .nav{
        & h1{
            
        }

        & .nav-item{
            border-right:2px solid $color-primary;

            & .nav-link{
                padding: 0rem 1rem;
            }
        }
    }

    & .mainContent{
        margin:2rem 0 0;
    }
}