//VARIABLES
$color-primary:#a10a0a;
$bg-color:#fafafa;
$color-white:#FFF;

//MIXINS
@mixin response($var){
    @if $var == sm{
        @media (max-width : 576px){
            @content;
        }
    }@else if $var == md{
        @media (max-width : 768px){
            @content;
        }
    }@else if $var == lg{
        @media (max-width : 992px){
            @content;
        }
    }
}
