footer{
    display:flex;
    flex: 0 0 auto;
    color: $color-white;
    padding: 20px 0;
    background-color: $color-primary!important;

    & ul {
        
        list-style: none;
        padding: 0;
        margin: 0 -10px;
    }
    & li {
        display: inline-block;
        margin: 0 10px;
        font-size: 90%;
    }
    & img {
        width: 2rem;
    }
    & #fonoimg{
        width: 1.5rem;
    }
    & a {
       color: $color-white;
    }
}