#libroIndv{
    @include mainSection;
    flex-direction:column;
    margin:2rem 0 0;

    @include response(sm){
        padding: 1.5rem 1rem 2.5rem;
    }
    
    & .datosLibro{
        display:flex;
        justify-content:space-between;
        width:80%;
        margin:0 auto;

        @include response(md){
            width:90%;
        }

        & .img{
            padding: 2rem;
            box-shadow: 0 0 5px $color-black;

            @include response(sm){
                padding: 1rem;
            }

            & img{
                width:15rem;

                @include response(lg){
                    width:10rem;
                }

                @include response(md){
                    width:6rem;
                }
                @include response(sm){
                    width:4rem;
                    
                }
            }
        }

        & .tituloLibro{
            width:58%;

            @include response(sm){
                width:60%;
            }

            & h4{
                margin:0 0 1rem;
            }

            & p{
                margin:0 0 1rem;
            }

            & #formDescargar{
                text-align: start;

                & label{
                    font-size:$font-normal;
                    margin:0 0 0 0.25rem;
                }

                & .form-group{
                    display: flex;
                    align-items: center;
                    margin:0 0 1rem;
                }
                
            }
        }
    }

    & #btnVolver{
        width:6rem;
    }
    & form{
        text-align:start;

        & .btn{
            margin:0;
        }
    }

    & .commentsAndStarts{
        margin:2rem 0 0;

        & #formSubirVal{
            
            margin:0 0 1.5rem 0;
        }

        & #formSubirComment{

            & textarea{
                resize:none;
                width:100%;
            }
            margin: 0 0 1.5rem 0;
        }

        & .comments{
            
            & table{
                width:100%;

                & td{
                    border-bottom:1px solid $color-secondary;
                }
            }

            margin: 0 0 1.5rem 0;
        }
    }
}