#listaLibros , #userList, #commentList {
    @include mainSection;
    flex-direction: column;
    overflow: scroll;
    & button {
        width: 5rem;
        margin-top: 10px;
        background-color: white !important;
        border: 1px solid $color-secondary !important; 
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;   
        color: $color-secondaryv2;
        & a {
            color : black;
            padding : 5px;
            
        }
        & a:hover {
            color: $color-white;
            text-decoration:none;
            transition: .2s ease-out;
        }
        &:focus{
            color: $color-secondaryv2;
            outline: 0;
            box-shadow: 0 0 0 0.2rem $color-secondary !important;
        }

        &::before , &::after{
            content: "";
            z-index: -1;
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: -50%;
            background-color: $color-secondary!important; /* color de fondo hover */
            transition: all 0.2s ease-out;
        }
    }
    & button:hover{
        color: white;
    }
    & button:hover::after{
        left: 50%;
    }
    & button:hover::before{
        left: 0;
    }
    & table{


        & tr {
            & td {
                & a {
                    color : black;
                    
                }
                & a:hover {
                    text-decoration:none;
                    color : $color-secondaryv2;
                    transition:.2s ease-out;
                }
            }
        }
        & tr:nth-child(even) {
            background: $color-secondary;

            & a:hover{
                color:$color-white;
            }
        }
    }


    }
    