.lista, .mostrar{
    @include mainSection;
    flex-direction: column;
    overflow: scroll;
    text-align: center;

    & h2{
        margin: 1rem 1rem 2.5rem;
    }

    & div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & button {

        & a {
            color : black;
        }

        & a:hover {
            color: $color-white;
            text-decoration:none;
            transition: .2s ease-out;
        }
    }

    & .btnComment{
        width:6rem;
    }

    & table{

        & tr {

            & td {

                & a {
                    color : black;
                    
                }

                & a:hover {
                    text-decoration:none;
                    color : $color-secondaryv2;
                    transition:.2s ease-out;
                }
            }
        }

        & tr:nth-child(even) {
            background: $color-secondary;

            & .eliminarbutton{
                background-color: $color-secondary!important;
            }

            & .eliminarbutton:hover{
                color: $color-white !important;
                transition: 0.2s ease-out !important;
            }

            & a:hover{
                color:$color-white;
            }
        }

        & tr:nth-child(odd) {

            & .eliminarbutton{
                background-color: $bg-color!important;

                &::before , &::after{
                    width: 0%;
                }
            }

            & .eliminarbutton:hover{
                color: $color-secondary !important;
                transition: 0.2s ease-out !important;
            }
            
            & .eliminarbutton:hover::after{
                left: 0%;
            }
        };
    }

    & .eliminarbutton{
        border: none !important;
        height: auto !important;
        color: $color-black !important;
    }

}
    