form{
<<<<<<< HEAD
    
    
    & h1{
        
    }
    & input{
        & input:focus ,input:active {
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border-color: $color-primary!important;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px $color-primary!important;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px $color-primary!important;
        }
    }
    & label{
        font-size: large;
        color: $color-primary!important;
    }
    & button{
        background-color: $color-primary!important;
        border: 1px solid black !important; 
    }

}
=======
    text-align: center;
   
    & .form-control:focus , .form-control:active {
        background-color: #fff;
        border-color: $color-secondary!important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color-secondary !important;
    }

    & label{
        font-size: large;
        // color: $color-primary!important;
    }

    & .btn{
        margin-top: 10px;
        background-color: white !important;
        border: 1px solid $color-secondary !important; 
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;   
        color: $color-secondaryv2;
    }
    & .btn:focus {
        color: $color-secondaryv2;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color-secondary !important;
    }
    & .btn:before , .btn::after{
        content: "";
        z-index: -1;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: -50%;
        background-color: $color-secondary!important; /* color de fondo hover */
        transition: all 0.2s ease-out;
    }
    & .btn :after{
        left: 100%;
    }
    & .btn :hover{
        color: white;
    }
    & .btn :before{
        left: 0;
        color: white;
    }
    & .btn:hover:after{
        left: 50%;
    }
    & .btn:hover:before{
        left: 0;
    }
}
    

>>>>>>> main
