form{
    text-align: center;

    & h3{

        @include response(sm){
            font-size:$font-h3-sm;
        }
    }

    & .form-control{
       & > input{
           margin: 30px;
       } 
    }
    & .form-control:focus , .form-control:active {
        background-color: $color-white;
        border-color: $color-secondary!important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color-secondary !important;
    }

    & label{
        font-size: large;

        @include response(sm){       
            font-size: inherit;
        }
    }

    & .btn{
        margin-top: 10px;
        background-color: white !important;
        border: 1px solid $color-secondary !important; 
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;   
        color: $color-secondaryv2;

        &:focus{
            color: $color-secondaryv2;
            outline: 0;
            box-shadow: 0 0 0 0.2rem $color-secondary !important;
        }

        &::before , &::after{
            content: "";
            z-index: -1;
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: -50%;
            background-color: $color-secondary!important; /* color de fondo hover */
            transition: all 0.2s ease-out;
        }
    }
    
    & .btn:hover{
        color: white;
    }
    & .btn:hover::after{
        left: 50%;
    }
    & .btn:hover::before{
        left: 0;
    }
}