.mainIndex{
    @include mainSection;

    display: flex;
    width: 100%;
    justify-content: space-between;

    @include response(md){
        display:block;
    }

    & form {
        width: 18%;

        @include response(lg){
            width:20%;
        }

        @include response(md){
            width:60%;
            margin:0 auto 2rem;
        }

        @include response(sm){
            width:90%;
        }
    }

    & .libros{
        width: 77%;
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap:1.25rem 1rem;

        @media (min-width:1500px){
            grid-template-columns:repeat(4, 1fr);
        }

        @include response(lg){
            width:75%;
        }

        @include response(md){
            width:90%;
            margin:0 auto;
            grid-template-columns:repeat(2, 1fr);
            grid-gap:1rem 0.75rem;
        }

        @include response(sm){
            grid-template-columns:1fr;
            grid-gap:0.75rem;
        }

        & .libro{
            padding:1rem;
            border-radius: 5px;
            border: 2px solid $color-secondary;
                
            @include response(lg){
                padding: 0.5rem 0.75rem;
            }

            &:hover{
                transform:scale(1.1);
                transition:.1s ease-out;
            }
        }
    }
}