body{
    //background: $color-black;
    //background: $gradient;
}
// Es un ejemplo pocho y tenemos que ponerlo solo en esta vista  la parte de fondo y por supuesto donde pongamos este estilo característico de esta vista debemos poner el estilo del enlace de regreso;

.userRegister{
    margin: 10% auto;
    background-color: $bg-color;
    box-shadow: 0 0 15px $color-black;
    text-align: center;

    
    & h1{
        padding: 2rem;
    }
    & form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        & #user{ 
          display: flex;
          flex-direction: column;
          width:70%;
          border: 1px solid $color-black;
          padding: 2rem;
          box-shadow: 0 0 5px $color-black;
          
    
            & div{
                display: contents;
               
                // Mirar porque coño se seleccionan todos si supuestamnente son solo los de tipo text
                // & input[type=text]:active ,:focus{
                //     outline: 0;
                //     box-shadow: 0 0 0 0.2rem $color-secondary !important;
                //     border: none;
                // }
                & label{
                    font-weight:bold;
                }
            }
        }
        & button{
            margin-top: 2rem;
        }
       
    }
    & form #users div {

    
        & label {
            display:block;
            font-weight:bold;
            border: 1px solid $color-secondaryv2;
            border-radius: 2rem;
            box-shadow: 0 0 5px $color-black;
            &:hover{
                box-shadow: 0 0 5px  inset $color-black;
                
                
                // Debemos mandar un alert diciendo que se ha cargado y personalizarlo
            }
        }
        & input{
            display: none;   
        }
    }
    
    & a{
       color: $color-secondaryv2;
       text-decoration: none;
     &:hover{
         font-size: .8em;
     }  
    }
    

}
@media (max-width: 800px){
    .userRegister{
        margin: 0;
        display: flex; 
        flex-wrap: nowrap;
        min-width: 420px;
        & h1{
            font-size: 2em;
        }
        & .oneUser{
            background: rgb(36,0,27);
            background: linear-gradient(330deg, rgba(36,0,27,1) 0%, rgb(121, 9, 52) 20%, $color-secondary 64%, rgb(212, 77, 183) 91%);    
            display : flex;
            flex-direction: column;
            // Para que rellene todo lo que pueda
            width: -webkit-fill-available;
            border-right: 1px solid $color-black;
        }
        & .moreUsers{    
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-left: 2rem;
           
            
        }
        & form{
                margin: 30% 0;
        }
    }    
}

@media (max-width: 420px){
    .userRegister{
        display: flex;
        flex-direction: column;
    & .oneUser{
        border-right: none;
        border-bottom: 1px solid $color-black;
    }
    &form{
        margin: 10% 0;
    }
}
}