#userRegister{
    margin: 0;
    display: flex; 
    flex-wrap: nowrap;
    text-align: center;
    & h1{
        font-size: 2em;
        margin:2rem;
    }
    & .oneUser{    
        display : flex;
        flex-direction: column;
        // Para que rellene todo lo que pueda
        width: -webkit-fill-available;
        border-right: 2px solid $color-black;
    }
    & .moreUsers{    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        & input{
            width: 99%;
            margin-left: 2rem;
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: inline-block;   
            color: $color-secondaryv2;
    
            &:focus{
                color: $color-secondaryv2;
                outline: 0;
                box-shadow: 0 0 0 0.2rem $color-secondary !important;
            }
    
            &::before , &::after{
                content: "";
                z-index: -1;
                position: absolute;
                width: 50%;
                height: 100%;
                top: 0;
                left: -50%;
                background-color: $color-secondary!important; /* color de fondo hover */
                transition: all 0.2s ease-out;
            }
        }
        
        & .btn:hover{
            color: white;
        }
        & .btn:hover::after{
            left: 50%;
        }
        & .btn:hover::before{
            left: 0;
        }   
        
       
        
    }
    & form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
       
        & #user{ 
          display: flex;
          flex-direction: column;
          width:70%;
          max-width: 1000px;
          border: 1px solid $color-black;
          padding: 2rem;
          box-shadow: 0 0 5px $color-black;
          
    
            & div{
                display: contents;
                & label{
                    font-weight:bold;
                }
                
            }
        }
        & button{
            margin: 2rem;
        }
       
    }
    & a{
        color: $color-secondaryv2;
        text-decoration: none;
        align-self: flex-end;     
     }
} 


    #userRegister{
        @include mainSection;   
        @include response(md){
        display: flex;
        flex-direction: column;

        & .oneUser{
                border-right: none;
                border-bottom: 1px solid $color-black;
        }
        & form{
                margin: 10% 0;
        }
    }
}