{% extends 'base.html.twig' %}

{% block title %}Edit Libro{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}

<section class = "edit">
    <h2>Editar libro</h2>

    <section class="form">
        {{ include('libro/_form.html.twig', {'button_label':'Actualizar'}) }}
        <a href="{{ path('libro_list') }}">Volver ↩</a>
    </section>

</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
