{% extends 'base.html.twig' %}

{% block title %}Edit Libro{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}
<section id = "edit">
    <h1>Edit Libro</h1>
    <div id = "form">
    {{ include('libro/_form.html.twig', {'button_label':'Update'}) }}
    </div>
    <a href="{{ path('libro_lists') }}">back to list</a>
</section>
{{ include('./admin/footer.html.twig')}}
{% endblock %}
