{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}

<section class = "edit">
    <h2>Edit User</h2>

    <section class="form">
        {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <a href="{{ path('user_list') }}">Volver ↩</a>
    </section>

</section>

{{ include('./admin/footer.html.twig')}}
{% endblock %}
